body{margin:0; background: #fcfcfc;}
#header{ width: 100%; height: 60px; background:#daf4ed ;}
#logo{ display:block; width: 50px; height: 50px; margin:auto; padding-top: 4px;}


.content{ width: 730px; margin:auto;}
.adminInfo{ width: 730px; height:80px;}

#adminInfo{ float: right;}
#adminInfo ul{padding:0; margin:0;}
#adminInfo li{ float: left; list-style: none;}

#profile_img{ width: 35px; height: 35px; border-radius: 15px; border: 3px double #47c6a3; margin-top: 18px; float: left;}
#adminInfo li p{float: left; margin: 28px 0 0 15px;color:#555555; }
#writeIcon{ width: 22px; height: 22px; opacity: 80%; margin: 28px 0 0 15px;}
#alarmIcon{width: 20px; height: 22px; opacity: 80%; margin: 28px 0 0 30px;}
#detailInfo{width: 22px; height: 22px; opacity: 90%; margin: 28px 0 0 30px;}

#menubar{ border-radius: 10px; border: 0; background:none; width: 80px; height: 300px; float: left;}
#menu{ margin: 0; padding:0; width: 80px;}
#menu li{list-style: none; width: 80px; height: 67.5px; background-color:#daf4ed; border-radius:10px; margin-bottom:10px;}
#menu li a{ text-decoration:none; display:block; margin:auto; text-align:center;color: #555555; cursor:pointer; padding-top: 22px;}
#menu li:nth-child(4):checked{margin-bottom:0; }