#admin_common{ box-sizing:border-box; width: 100%; height: 300px;}
#menu li:nth-child(1){ border: 2px solid #47c6a3;width: 78px; height: 65.5px;}
#menu li:nth-child(1)>a{color:#47c6a3; font-weight: 600;}
.content #title{ font-size: 20px; color: #555555; padding:0; margin: 0; font-weight: 600; float: left; margin: 10px 0 10px 35px;}
#searchBox{ border-radius: 10px; border: 1px solid #47c6a3;  float: left; margin-left:20px; width: 628px;}
#all_user p{ background-color: #daf4ed ; margin: 0; padding: 15px; border-radius: 10px; text-align: center; font-size: 24px;}
#search { margin: 23px 0 22px 45px; }
#search label{ margin:0 15px 0 15px; }
#search #name,#id{ width: 150px; height: 30px; border-radius: 10px; border: 1px solid #555555; margin-right: 20px;}
#enrolldate{width: 153px; height: 32px; border-radius: 10px; border: 1px solid #555555; margin-right: 20px;}
#search select{ width: 156px; height: 34px;border-radius: 10px; border: 1px solid #555555;  margin-right: 20px;}

#searchBtn{ width: 245px; height: 35px; border: 0; background: #daf4ed; border-radius: 10px; margin:20px 0 0 10px;}
#resetBtn{ width: 245px; height: 35px; border:0; background: #e5e5e5; border-radius: 10px; margin-left: 20px;}
#containar{ width: 100%;}
#user_table{ text-align: center; width: 100%; margin-top: 30px; font-size: 14px;}
thead tr{ background: #daf4ed; height: 35px;}
#user_table td:nth-child(1){ width: 70px;}
#user_table td:nth-child(2){ width: 90px;}
#user_table td:nth-child(3){ width: 80px;}
#user_table td:nth-child(4){ width: 140px;}
#user_table td:nth-child(7){ width: 80px;}
tbody tr{ cursor: pointer;}
tbody td{ border-bottom: 1px solid #e5e5e5; height: 35px;}