body{margin:0; background: #fcfcfc;}
#header{ width: 100%; height: 60px; background:#daf4ed ;}
#logo{ display:block; width: 50px; height: 50px; margin:auto; padding-top: 4px;}


.content{ width: 730px; margin:auto;}
.search_userInfo{ width: 730px; height:80px;}
#searchbar{ margin-top:18px; width: 410px; float: left;}
#allSearch{ width: 300px; height: 40px; border-radius: 10px; border: 2px solid #e5e5e5; margin:2px 10px 0 0; }
#allSearchBtn{ width: 90px; height: 40px; border: 0; border-radius: 10px; background: #daf4ed;}

#userInfo{ float: right;}
#userInfo ul{padding:0; margin:0;}
#userInfo li{ float: left; list-style: none;}

#profile_img{ width: 35px; height: 35px; border-radius: 15px; border: 3px double #47c6a3; margin-top: 18px; float: left;}
#userInfo li p{float: left; margin: 28px 0 0 15px;color:#555555; }
#writeIcon{ width: 22px; height: 22px; opacity: 80%; margin: 28px 0 0 15px; cursor: pointer;}
#alarmIcon{width: 20px; height: 22px; opacity: 80%; margin: 28px 0 0 30px;}
#detailInfo{width: 22px; height: 22px; opacity: 90%; margin: 28px 0 0 30px;}

#menubar{ border-radius: 10px; border: 0; background:#daf4ed; width: 80px; height: 300px; float: left;}
#menu{ margin: 0; padding:0; padding: 19px;}
#menu li{list-style: none; }
#menu li:nth-child(1){ margin-top: 5px;}
#menu li:nth-child(2){ margin: 30px 0 0 2px; cursor: pointer;}
#menu li:nth-child(3){ margin-top: 30px;}
#menu li:nth-child(3) img{  width: 42px; height: 45px;}

#menu li:nth-child(4){ margin: 23px 0 0 2px;}
.hashtag{color:#88abda;}