/* common*/
#create_group{position:absolute; outline:none; width: 80px; height: 40px; border-radius: 10px; border: 0; margin: 320px 0 0 -80px; background: #daf4ed; font-size:14px;color: #555555; cursor: pointer; }

p{margin:0;}
#feedArea{  width: 632px; height: 100%; margin-left:100px; position: fixed; overflow-y: scroll; -ms-overflow-style: none;  }
#feedArea::-webkit-scrollbar{display: none;}
#containerArea{ margin-bottom: 200px;}
#common_container1{height:50px;text-align:center;}
#common_container2{height: 50px; margin: 20px 0 0 12px;}

#common_container2 button{ width: 200px; height: 35px; border-radius: 10px; border: 0;}
.group_menubtn.on{ background: #daf4ed;}
#search_container{height: 50px; margin-top: 10px;}
#title{ font-size: 24px; font-weight: 600; padding: 10px 0 10px 0; color: #555555; }
#page_name{ font-size: 16px; color:#555555; margin:5px 0 0 30px; float: left; width: 140px;}
#search_container_second{width: 440px; text-align: right;float: left;}
#searchBox{ width: 250px; height: 35px; border: 1px solid #e5e5e5; border-radius: 10px; margin-right: 10px;}
#searchBtn{ width: 80px; height: 35px; border: 0; border-radius: 10px; background: #daf4ed;}


/* management*/
#management_container{height: 550px; display: none; border: 2px solid #e5e5e5; border-radius: 10px;}

#member_main{height: 100%; width: 100%;}
.select{ height: 55px; font-size:14px; color:#555555; }
.select #gm{ height: 55px;padding: 0; margin:0;border-bottom: 1px solid #e5e5e5;}
.select #gmMaster{ height: 55px;padding: 0; margin:0;border-bottom: 1px solid #e5e5e5;}

#gmMaster li{ list-style:none; float:left;}
#gmMaster li:nth-child(1){width: 80px; text-align: center; margin-top: 17px;}
#gmMaster li:nth-child(2) img{ width: 35px; height: 35px; border-radius:10px; }
#gmMaster li:nth-child(2){width: 80px; margin-top: 10px;}
#gmMaster li:nth-child(3){ width:380px; font-size: 20px; margin-top: 11px; }



#gm li{ list-style:none; float:left;}
#gm li:nth-child(2){width: 80px; text-align: center; margin-top: 17px;}
#gm li:nth-child(3) img{ width: 35px; height: 35px; border-radius:10px; }
#gm li:nth-child(3){width: 80px; margin-top: 10px;}
#gm li:nth-child(4){ width:380px; font-size: 20px; margin-top: 11px; }
#g_gmL{ width:0; padding:0; margin:0; }
#g_gmI{ width:0; padding:0; margin:0;}
#groupMemberMenu{ float:right; margin:25px 10px 0 30px;}
.page{height: 10%; text-align: center;}



/* info*/


#group_update{ width: 100%; background: white;width: 628px;border-radius: 10px; border:2px solid #e5e5e5;}

.container #title{ text-align: center; font-weight: 600; padding: 20px 0 20px 0;}

#inputBox{ width: 250px; height: 30px; border-radius: 10px; border: 1px solid #e5e5e5; margin-left: 30px;}
#p_title{ margin:20px 0 10px 30px;}
input[type="radio"]{ margin: 24px 5px 0 10px;}
#container_main_first{    height: 260px; border-top:2px solid #e5e5e5;}
#container_main_first_first{width: 50%;float: left;}
#container_main_first_first_first{height: 70px; padding-top: 40px;}
#imgView{ width:60px; height:60px; float:left; margin:0 20px 0 30px; border:1px solid #e5e5e5; border-radius:10px;} 
#imgView img{width:60px; height:60px; border-radius:10px;}
#groupImg{ width:100%; height:70px;}
#groupProfile{ position: absolute;}

#container_main_first_first_second{height: 70px;}
select{ width: 210px; height: 34px; border: 1px solid #e5e5e5; border-radius: 10px; margin-left: 30px;}

#container_main_first_first_third{height: 70px;}
#container_main_first_first_fourth{height: 70px;}
#container_main_first_second{width: 50%;float: left;margin-top:91px;}

#container_main_second{ height: 100%;}


#container_main_second_first{ height: 55px; width: 100%;}
#container_main_second_first p{ float: left; margin-right: 20px;}

#container_main_third_first{ height: 55px; width: 100%;}
#container_main_third_first p{ float: left; margin-right: 20px;}

#container_main_fourth_first{ height: 55px; width: 100%;}
#container_main_fourth_first p{float:left; margin-right: 20px;}

#container_main_fifth_first{ height: 100%; width: 100%; margin-bottom: 10px;}
#container_main_fifth_first p{float: left; margin-right: 60px;}
#question{ width: 350px; height: 30px; border: 1px solid #e5e5e5; border-radius: 10px; margin-top: 14px;}
#question1{ width: 350px; height: 30px; border: 1px solid #e5e5e5; border-radius: 10px; margin-top: 14px;}
#question2{ width: 350px; height: 30px; border: 1px solid #e5e5e5; border-radius: 10px; margin-top: 14px; margin-left: 122px;}
#add_question{ cursor: pointer; width: 30px; height: 30px; border: 1px solid #e5e5e5; background: #daf4ed; border-radius: 15px; }
#sub_question{display: none; cursor: pointer; width: 30px; height: 30px; border: 1px solid #e5e5e5; background: #daf4ed; border-radius: 15px; }
#container_main_sixth_first{height:270px; width: 100%;}
#container_main_sixth_first p{float: left; margin-right: 20px;}
#container_main_sixth_first input{ margin-top: 16px;}
#imgBox{ border: 1px solid #e5e5e5; border-radius: 10px; width: 350px; height: 200px;float: left; margin-top: 15px;}
#imgBox img{ width: 350px; height: 200px; border-radius: 10px;}

#container_main_seventh_first{ height: 130px; width: 100%;}
#container_main_seventh_first p{ float: left; margin-right: 20px;}
#groupInfo{margin-top:16px;resize: none; width: 350px; height: 100px; border-radius: 10px; border: 1px solid #e5e5e5;}

#container_main_eighth_first{height: 55px; width: 100%; margin-bottom: 30px;}
#container_main_eighth_first p{float: left; margin-right: 20px; }
#groupTag{ margin-top: 16px; border: 1px solid #e5e5e5; border-radius: 10px; width: 300px; height: 30px;}

#container_main_ninth{height: 55px; text-align:center; margin-top: 40px;}
#container_main_ninth input{ width: 150px; height: 45px; border: 0; border-radius: 10px; }
#container_main_ninth #submit{ background: #daf4ed; margin-left:0; }

#updateform{ margin-bottom:200px;}

/* permit*/
#permit_first{height: 550px; display: none; border: 2px solid #e5e5e5; border-radius: 10px;}

.permit_MemberAnswer{height: 100%; width: 100%;}
#permit_user{ width: 100%; font-size: 14px; color: #555555; cursor: pointer;}
#permit_user .permit_userInfo{ height: 55px; padding: 0; margin:0;border-bottom: 1px solid #e5e5e5;}
.permit_userInfo li{ list-style: none; float: left;}
.permit_userInfo li>img{width: 35px; height: 35px; border-radius:10px; }
.permit_userInfo li:nth-child(1){width: 80px; text-align: center; margin-top: 17px;}
.permit_userInfo li:nth-child(2){width: 45px; margin-top: 10px; }
.permit_userInfo li:nth-child(3){ width:250px; font-size: 20px; margin-top: 11px; }

#user_Y{cursor:pointer; width: 60px; height: 30px; border: 0; background: #daf4ed; border-radius: 10px; margin: 14px 10px 0 10px;}
#user_N{cursor:pointer; width: 60px; height: 30px; border: 0; background: #cccccc; border-radius: 10px; margin:14px 0 0 0;}
#showAnswer{cursor:pointer; width: 80px; height: 30px; border: 0; background: #daf4ed; border-radius: 10px; margin: 14px 0 0 10px;}

#textP{ text-align:center; margin:0;font-size:16px; color:#555555; padding-top:40px;}
.permit_answer{height: 100%; background: #f0f0f0;display: none;}
.permit_answer p{ padding:15px 0 10px 20px ;}
.pop_menu{display: none;}


#cancel2{margin-left: 16px; margin-top:-4px;cursor: pointer;display: block;width: 100px; background:#e5e5e5;border: none;border-radius: 10px;width:100px;height: 35px;float: left;}	
#report-submit{margin-left:50px; margin-top:-4px; float:left; width:100px; background:#daf4ed;border: 0; height: 35px; border-radius: 10px;}
#selectRtype{ width:100px; margin-left:50px; background:#daf4ed;border: 0; height: 35px; border-radius: 10px;}
#reportContent{margin-top:14px; margin-left:50px; background:#daf4ed; resize:none;display:none; border:none;}

