
body{margin:0; background: #daf4ed;}
#index_logo{display: block; width: 100px; height: 110px; margin: auto; margin-top: 120px;}
div{
    /* border: 0.5px solid #555555; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: 0;
    border-spacing: 0;
}
#content{
    text-align: center;
    width: 730px;
    margin: auto;
}
#content input{ border-radius: 10px; border: 1px solid #e5e5e5;}
#inContent{
    display: inline-block;
}
#c1,#c2{
    width: 100%;
    height: 250px;
}
#c1,#c2>div{
    margin-top: 6%;
    width: 730px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid #47c6a3 ;
    background: white;
}
#c1Title,#c2Title{
    height: 40px;
    border-bottom: 1px solid #47c6a3;
}
#c1Title>p,#c2Title>p{
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #47c6a3;
    margin:12px 0 12px 20px;
    
}

#c1Content1,#c2Content1{
    font-size: 14px;
    text-align: left;
    margin-left: 3%;
    margin-top: 20px;
}
#c1Name{
    font-size: 14px;
    text-align: left;
    margin-left: 9%;
    margin-top: 20px;
}
#c1Email{
    font-size: 14px;
    text-align: left;
    margin-left: 7%;
    margin-top: 10px;
}
#userName,#email1,#email2,#userId,#email11,#email22{
    width: 180px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}
#selectEmail,#selectEmail2{
    padding-top: 2px;
    padding-bottom: 1.4px;
    font-size: 14px;
    font-weight: 600;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    color: #555555;
}
#userIdFindBtn{
    margin: 0;
    margin-top: 25px;
    padding-top: 4px;
    padding-bottom: 3px;
    background-color: #47c6a3;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 35px;
}
#c2Id{
    font-size: 14px;
    text-align: left;
    margin-left: 7%;
    margin-top: 20px;
}
#c2Email{
    font-size: 14px;
    text-align: left;
    margin-left: 7%;
    margin-top: 10px;
}
#userId,#email1,#email2{
    width: 180px;
}
#selectEmail{
    padding-top: 2px;
    padding-bottom: 1.4px;
    font-size: 14px;
    font-weight: 1000;
}
#userPwdFindBtn{
    margin: 0;
    margin-top: 25px;
    padding-top: 4px;
    padding-bottom: 3px;
    background-color: #47c6a3;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 35px;
}
a{
    color: #555555;
    font-size: 14px;
    text-decoration: none;
    text-align: right;
}
a>p{
    margin-top: 30px;
}

/* 모달 관련 */
#exampleModalLabel{
    font-size: 14px;
    color: #47c6a3;

}

.modal-content{ top: 250px;}
.modal-header{
    height: 50px;
}
.modal-body{
    height: 80px;
    font-size: 13px;
    margin-top: 25px;
}
.modal-footer{
    height: 50px;
}
.modal-footer>button{
    margin-top: 1px;
    padding-top: 4px;
    padding-bottom: 3px;
    background-color: #47c6a3;
    border: none;
    font-size: 10px;
    font-weight: 1000;
    color: white;
}




