

.pop_menu{position: fixed; display: none; width: 100%; height: 100%; left:0; top:0; z-index: 100; overflow: auto; background-color:rgb(0,0,0); background-color: rgba(0,0,0,0.4);}
#feed_menu_list{ background: white; width: 320px; margin: auto; height: 243px; border-radius: 15px; margin-top:300px;}
#feed_menu_list ul{ padding:0; margin: 0; }
#feed_menu_list li{ list-style: none; text-align: center; height: 60px;}
#feed_menu_list li:nth-child(1){border-bottom: 1px solid #e5e5e5;}
#feed_menu_list li:nth-child(2){border-bottom: 1px solid #e5e5e5;}
#feed_menu_list li:nth-child(3){border-bottom: 1px solid #e5e5e5;}
#feed_menu_list li a{ display: block; text-decoration: none; cursor: pointer; padding-top: 20px; font-weight: 400;}


.pop_Mymenu{position: fixed; display: none; width: 100%; height: 100%; left:0; top:0; z-index: 100; overflow: auto; background-color:rgb(0,0,0); background-color: rgba(0,0,0,0.4);}
#feed_Mymenu_list{ background: white; width: 320px; margin: auto; height: 183px; border-radius: 15px; margin-top:300px;}
#feed_Mymenu_list ul{ padding:0; margin: 0; }
#feed_Mymenu_list li:nth-child(1){border-bottom: 1px solid #e5e5e5;}
#feed_Mymenu_list li:nth-child(2){border-bottom: 1px solid #e5e5e5;}
#feed_Mymenu_list li a{ display: block; text-decoration: none; cursor: pointer; padding-top: 20px; font-weight: 400;}


.feed_report{position: fixed; display: none; width: 100%; height: 100%; left:0; top:0; z-index: 100; overflow: auto; background-color:rgb(0,0,0); background-color: rgba(0,0,0,0.4);}
#feed_report_con{ background: white; width: 320px; margin: auto; height: 220px; border-radius: 15px; margin-top:300px;}
#feed_report_con p{ padding:0; margin:0; text-align: center; font-size: 16px; padding: 20px 0 20px 0; border-bottom: 1px solid #e5e5e5;}
#feed_report_con select{ width: 220px; height: 35px; border-radius: 10px; border: 1px solid #555555; margin:30px 0 30px 50px;}
#submit{ width: 100px; height: 35px; border: 0; background: #daf4ed; border-radius: 10px; margin-left: 55px; }
#cancel{ width: 100px; height: 35px; margin-left: 10px; border: 0; border-radius: 10px; background: #e5e5e5;}

.reply_menu{position: fixed; display: none; width: 100%; height: 100%; left:0; top:0; z-index: 100; overflow: auto; background-color:rgb(0,0,0); background-color: rgba(0,0,0,0.4);}
#re_menu_list{ background: white; width: 320px; margin: auto; height: 183px; border-radius: 15px; margin-top:300px;}
#re_menu_list ul{ padding:0; margin: 0;}
#re_menu_list li{list-style: none; text-align: center; height: 60px; }
#re_menu_list li:nth-child(1){border-bottom: 1px solid #e5e5e5;}
#re_menu_list li:nth-child(2){border-bottom: 1px solid #e5e5e5;}
#re_menu_list li a{ display: block; text-decoration: none; cursor: pointer; padding-top: 20px; font-weight: 400;}
