<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">

<resultMap id="chatRoomResultMap" type="Chat">
	<id property="crNo" column="CR_NO"/>
	<result property="crMax" column="CR_MAX"/>
</resultMap>
<resultMap id="chatResultSet" type="Chat" >
	<id property="cNo" column="C_NO"/>
	<result property="crNo" column="CR_NO" />
	<result property="fromId" column="FROM_ID"/>
	<result property="toId" column="TO_ID"/>
	<result property="cContent" column="C_CONTENT"/>
	<result property="chatDate" column="C_DATE"/>
	<result property="cRead" column="C_READ"/>
	<result property="cRead" column="C_READ"/>
	<result property="gNo" column="G_NO"/>
	<result property="gImage" column="G_PROFILE"/>
	<result property="gReImage" column="G_RENAME_PROFILE"/>
	<result property="gName" column="G_NAME"/>
	<result property="joinId" column="JOIN_ID"/>
</resultMap>
<resultMap  id="chatJoinResultMap" type="Chat">
	<id property="jcNo" column="JC_NO"/>
	<result property="crNo" column="CR_NO"/>
	<result property="joinId" column="JOIN_ID"/>
</resultMap>

	<select id="getCrNo" parameterType="string" resultMap="chatJoinResultMap">
		SELECT CR_NO,JOIN_ID
		FROM JOIN_CHATROOM
		WHERE JOIN_ID = #{userId}
	</select>
	
	<select id="getChatList" parameterType="Chat" resultMap="chatResultSet">
		SELECT *
		FROM CHAT
		WHERE CR_NO = #{crNo}
		AND ROWNUM = 1
		ORDER BY C_NO DESC
	</select>
	
	<select id="getChatContentList" parameterType="Chat" resultMap="chatResultSet">
		<![CDATA[
		SELECT *
		FROM (SELECT * FROM CHAT WHERE CR_NO = #{crNo} AND ROWNUM <= 15 ORDER BY C_NO DESC)
		ORDER BY C_NO
		]]>
	</select>
	
	<insert id="insertChat" parameterType="Chat">
		INSERT INTO CHAT
		VALUES(SEQ_CNO.NEXTVAL,#{crNo},#{fromId},#{toId},#{cContent},SYSDATE,'N',NULL)
	</insert>
	
	<insert id="insertChatRoom" parameterType="Chat">
		INSERT INTO CHATROOM
		VALUES(SEQ_CRNO.NEXTVAL,2)
	</insert>
	
	<select id="getFirstCrno" resultType="_int">
		SELECT CR_NO
		FROM CHATROOM
		WHERE ROWNUM = 1
		ORDER BY CR_NO DESC
	</select>
	
	<insert id="insertJoinRoom">
		INSERT INTO JOIN_CHATROOM
		VALUES(SEQ_JCNO.NEXTVAL,#{crNo},#{fromId},NULL)
	</insert>
	
	<update id="readChat" parameterType="Chat">
		UPDATE CHAT
		SET C_READ = 'Y'
		WHERE FROM_ID = #{fromId}
		AND CR_NO = #{crNo}
	</update>
	
	<select id="countChat" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM CHAT
		WHERE TO_ID = #{myId}
		AND C_READ = 'N'
	</select>
	
	<select id="getGroupChatList" parameterType="Chat" resultMap="chatResultSet">
		SELECT C.C_NO,C.CR_NO,C.FROM_ID,C.TO_ID,C.C_CONTENT,C.C_DATE,C.C_READ,C.G_NO,G.G_PROFILE,G.G_RENAME_PROFILE,G.G_NAME
		FROM CHAT C JOIN GROUPS G ON(C.G_NO = G.G_NO)
		WHERE CR_NO = #{crNo}
		AND ROWNUM = 1
		ORDER BY C_NO DESC
	</select>

	<insert id="insertGroupChat" parameterType="Chat">
		INSERT INTO CHAT
		VALUES(SEQ_CNO.NEXTVAL,#{crNo},#{fromId},#{toId},#{cContent},SYSDATE,'Y',#{gNo})
	</insert>
	
	<insert id="insertChatGroup" parameterType="Chat">
		INSERT INTO CHAT
		VALUES(SEQ_CNO.NEXTVAL,#{crNo},#{fromId},#{toId},#{cContent},SYSDATE,'N',#{gNo})
	</insert>
	
	<select id="getGroupChatContentList" parameterType="Chat" resultMap="chatResultSet">
		<![CDATA[
		SELECT *
		FROM (SELECT C_NO,CR_NO,FROM_ID,TO_ID,C_CONTENT,C_DATE,C_READ,G_PROFILE,G_RENAME_PROFILE,G_NAME 
		      FROM CHAT C JOIN GROUPS G ON(C.G_NO = G.G_NO) 
		      WHERE C.CR_NO = #{crNo} ORDER BY C.C_DATE DESC)
		WHERE ROWNUM <= 15 
		ORDER BY C_DATE
		]]>
	</select>
	
	<select id="getJoinMember" parameterType="_int" resultMap="chatResultSet">
		SELECT JOIN_ID FROM JOIN_CHATROOM WHERE G_NO = #{gNo}
	</select>
	
	<select id="checkChatRomm" parameterType="Chat" resultMap="chatResultSet">
		SELECT *
		FROM JOIN_CHATROOM
		WHERE JOIN_ID = #{fromId} 
	</select>
	
	<insert id="insertJoinGroupRoom" parameterType="Chat">
		INSERT INTO JOIN_CHATROOM
		VALUES(SEQ_JCNO.NEXTVAL,#{crNo},#{fromId},#{gNo})
	</insert>
	
	<select id="checkGroupChatRoom" parameterType="Chat" resultType="_int">
		SELECT COUNT(*)
		FROM JOIN_CHATROOM
		WHERE G_NO = #{gNo}
	</select>
	
	<select id="chatContentLoad" parameterType="Chat" resultMap="chatResultSet">
		<![CDATA[
		SELECT *
		FROM (SELECT * FROM CHAT WHERE CR_NO = #{crNo} AND ROWNUM <= 20 AND C_NO < #{cNo} ORDER BY C_NO DESC)
		]]>
	</select>
	
	<select id="groupChatContentLoad" parameterType="Chat" resultMap="chatResultSet">
		<![CDATA[
		SELECT *
		FROM (SELECT C_NO,CR_NO,FROM_ID,TO_ID,C_CONTENT,C_DATE,C_READ,G_PROFILE,G_RENAME_PROFILE,G_NAME 
		      FROM CHAT C JOIN GROUPS G ON(C.G_NO = G.G_NO) 
		      WHERE C.CR_NO = #{crNo} ORDER BY C.C_DATE DESC)
		WHERE ROWNUM <= 20 AND C_NO <= #{cNo}-1
		ORDER BY C_DATE
		]]>
	</select>
	
	<delete id="chatDelete" parameterType="_int">
		DELETE FROM CHAT
		WHERE CR_NO = #{crNo}
	</delete>
	
	<delete id="joinDelete" parameterType="_int">
		DELETE FROM JOIN_CHATROOM
		WHERE CR_NO = #{crNo}
	</delete>
	
	<delete id="chatRoomDelete" parameterType="_int">
		DELETE FROM CHATROOM
		WHERE CR_NO = #{crNo}
	</delete>
</mapper>
