<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="feedMapper">

	<resultMap id="postResultSet" type="Feed">
		<id property="fNo" column="F_NO"/>
		<result property="mNo" column="M_NO"/>
		<result property="fContent" column="F_CONTENT"/>
		<result property="fWriter" column="F_WRITER"/>
		<result property="fFile" column="F_FILE"/>
		<result property="fRenameFile" column="F_RENAMEFILE"/>
		<result property="fCreateDate" column="F_CREATE_DATE"/>
		<result property="fModifyDate" column="F_MODIFY_DATE"/>
		<result property="fStatus" column="F_STATUS"/>
		<result property="fLocation" column="F_LOCATION"/>
		<result property="fOpenScope" column="F_OPEN_SCOPE"/>
		<result property="fLikeSet" column="F_LIKE_SET"/>
		<result property="fReplySet" column="F_REPLY_SET"/>
		<result property="fShareSet" column="F_SHARE_SET"/>
		<result property="fLikeCnt" column="F_LIKECNT"/>
		<result property="fReplyCnt" column="F_REPLYCNT"/>
		
		<collection property="replyList" javaType="java.util.ArrayList" resultMap="replyResultSet"/>
	</resultMap>
	
	<resultMap id="postInsertSet" type="Feed">
		<id property="fNo" column="F_NO"/>
		<result property="mNo" column="M_NO"/>
		<result property="fContent" column="F_CONTENT"/>
		<result property="fWriter" column="F_WRITER"/>
		<result property="fFile" column="F_FILE"/>
		<result property="fRenameFile" column="F_RENAMEFILE"/>
		<result property="fCreateDate" column="F_CREATE_DATE"/>
		<result property="fModifyDate" column="F_MODIFY_DATE"/>
		<result property="fStatus" column="F_STATUS"/>
		<result property="fLocation" column="F_LOCATION"/>
		<result property="fOpenScope" column="F_OPEN_SCOPE"/>
		<result property="fLikeSet" column="F_LIKE_SET"/>
		<result property="fReplySet" column="F_REPLY_SET"/>
		<result property="fShareSet" column="F_SHARE_SET"/>
		<result property="fLikeCnt" column="F_LIKECNT"/>
		<result property="fReplyCnt" column="F_REPLYCNT"/>
	</resultMap>
	
	<resultMap id="replyResultSet" type="Reply">
		<id property="rNo" column="R_NO"/>
		<result property="mNo" column="M_NO"/>
		<result property="fNo" column="F_NO"/>
		<result property="rContent" column="R_CONTENT"/>
		<result property="rWriterImg" column="R_WRITER_IMG"/>
		<result property="rWriter" column="R_WRITER"/>
		<result property="rCreateDate" column="R_CREATE_DATE"/>
		<result property="rModifyDate" column="R_MODIFLY_DATE"/>
		<result property="rStatus" column="R_STATUS"/>
	</resultMap>
	
	<insert id="insertPost" parameterType="Feed">
		INSERT INTO FEED
		VALUES(
			SEQ_FNO.NEXTVAL, #{mNo}, #{fContent}, #{fWriter}, #{fFile}, #{fRenameFile}, SYSDATE, SYSDATE, DEFAULT,
			#{fLocation}, #{fOpenScope}, #{fLikeSet}, #{fReplySet}, #{fShareSet}, #{fLikeCnt}, #{fReplyCnt})
	</insert>
	
	<select id="selectFeed" resultMap="postResultSet">
		SELECT *
		FROM FEED F
        LEFT JOIN REPLY R ON (F.F_NO = R.F_NO)
		WHERE F.F_STATUS='Y'
		ORDER BY F.F_NO DESC
	</select>
	
<!-- 	<select id="selectReplyList" parameterType="_int" resultMap="replyResultSet">
		SELECT *
		FROM REPLY
		WHERE F_NO=#{fNo}
		AND R_STATUS='Y'
		ORDER BY R_NO DESC
	</select> -->
	
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO REPLY VALUES
		(SEQ_RNO.NEXTVAL, ${mNo}, ${fNo}, ${rWriterImg}, ${rWriter}, ${rContent}, SYSDATE, SYSDATE, DEFAULT)
	</insert>
	
	<select id="replySearchList" parameterType="Reply"  resultMap="replyResultSet">
		SELECT *
		FROM REPLY
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			<if test="rNo != 0">
				R_NO like '%'||#{rNo}||'%'
			</if>
			<if test="rWriter != null">
				AND R_WRITER like '%'||#{rWriter}||'%'
			</if>
			<if test="rContent != null">
				AND R_STATUS like '%'||#{rContent}||'%'
			</if>
			<if test="rCreateDate != null">
				AND R_CREATE_DATE like '%'||#{rCreateDate}||'%'
			</if>
		</trim>
	</select>
</mapper>
