<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="feedMapper">

	<resultMap id="postResultSet" type="Feed">
		<id property="fNo" column="F_NO"/>
		<result property="mNo" column="M_NO"/>
		<result property="fContent" column="F_CONTENT"/>
		<result property="fWriter" column="F_WRITER"/>
		<result property="fFile" column="F_FILE"/>
		<result property="fRenameFile" column="F_RENAMEFILE"/>
		<result property="fCreateDate" column="F_CREATE_DATE"/>
		<result property="fModifyDate" column="F_MODIFY_DATE"/>
		<result property="fStatus" column="F_STATUS"/>
		<result property="fLocation" column="F_LOCATION"/>
		<result property="fOpenScope" column="F_OPENS_COPE"/>
		<result property="fLikeSet" column="F_LIKE_SET"/>
		<result property="fReplySet" column="F_REPLEY_SET"/>
		<result property="fShareSet" column="F_SHARE_SET"/>
		<result property="fLikeCnt" column="F_LIKECNT"/>
		<result property="fReplyCnt" column="F_REPLYCNT"/>
	</resultMap>
	
	<insert id="insertPost" parameterType="Feed">
		INSERT INTO FEED
		VALUES(
			SEQ_FNO.NEXTVAL, #{mNo}, #{fContent}, #{fWriter}, #{fFile}, #{fRenameFile}, SYSDATE, SYSDATE, DEFAULT,
			#{fLocation}, #{fOpenScope}, #{fLikeSet}, #{fReplySet}, #{fShareSet}, #{fLikeCnt}, #{fReplyCnt})
	</insert>
</mapper>
