<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="feedMapper">

	<resultMap id="postResultSet" type="Feed">
		<id property="fNo" column="F_NO"/>
		<result property="mNo" column="M_NO"/>
		<result property="fContent" column="F_CONTENT"/>
		<result property="fWriter" column="F_WRITER"/>
		<result property="fCreateDate" column="F_CREATE_DATE"/>
		<result property="fModifyDate" column="F_MODIFY_DATE"/>
		<result property="fStatus" column="F_STATUS"/>
		<result property="fLocation" column="F_LOCATION"/>
		<result property="fOpenScope" column="F_OPEN_SCOPE"/>
		<result property="fLikeSet" column="F_LIKE_SET"/>
		<result property="fReplySet" column="F_REPLY_SET"/>
		<result property="fShareSet" column="F_SHARE_SET"/>
		<result property="fLikeCnt" column="F_LIKECNT"/>
		<result property="fReplyCnt" column="F_REPLYCNT"/>
		<result property="gNo" column="G_NO"/>
		<result property="gName" column="G_NAME"/>
		<result property="mImage" column="M_RENAME_IMAGE"/>
		<collection property="replyList" javaType="java.util.ArrayList" resultMap="replyResultSet"/>
		<collection property="photoList" javaType="java.util.ArrayList" resultMap="photoResultSet"/>
	</resultMap>
	
	<resultMap id="GroupResultSet" type="Group">
		<id property="gNo" column="G_NO"/>
		<result property="gCreator" column="G_CREATOR"/>
		<result property="gManager" column="G_MANAGER"/>
		<result property="gName" column="G_NAME"/>
		<result property="gCategory" column="G_CATEGORY"/>
		<result property="gMax" column="G_MAX"/>
		<result property="gDate" column="G_DATE"/>
		<result property="gOpenScope" column="G_OPENSCOPE"/>
		<result property="gJoinSet" column="G_JOINSET"/>
		<result property="gQset" column="G_QSET"/>
		<result property="q1" column="Q1"/>
		<result property="q2" column="Q2"/>
		<result property="q3" column="Q3"/>
		<result property="gIntro" column="G_INTRO"/>
		<result property="gTag" column="G_TAG"/>
		<result property="gStatus" column="G_STATUS"/>
		<result property="gNotice" column="G_NOTICE"/>
		<result property="gProfile" column="G_PROFILE"/>
		<result property="gImage" column="G_IMAGE"/>
		<result property="gRenameProfile" column="G_RENAME_PROFILE"/>
		<result property="gRenameImage" column="G_RENAME_IMAGE"/>
	</resultMap>
	
	<resultMap id="GroupMemberResultSet" type="GroupMember">
  		<id property="gNo" column="G_NO"/>
  		<result property="gmId" column="GM_ID"/>
  		<result property="gmStatus" column="GM_STATUS"/>
  		<result property="gmLevel" column="GM_LEVEL"/>
  		<result property="a1" column="A1"/>
  		<result property="a2" column="A2"/>
  		<result property="a3" column="A3"/>
  		<result property="gJoinDate" column="G_JOINDATE"/>
  		<result property="gmImage" column="M_RENAME_IMAGE"/>
  	</resultMap>

	<!-- <resultMap id="postInsertSet" type="Feed">
			<id property="fNo" column="F_NO"/>
			<result property="mNo" column="M_NO"/>
			<result property="fContent" column="F_CONTENT"/>
			<result property="fWriter" column="F_WRITER"/>
			<result property="fFile" column="F_FILE"/>
			<result property="fRenameFile" column="F_RENAMEFILE"/>
			<result property="fCreateDate" column="F_CREATE_DATE"/>
			<result property="fModifyDate" column="F_MODIFY_DATE"/>
			<result property="fStatus" column="F_STATUS"/>
			<result property="fLocation" column="F_LOCATION"/>
			<result property="fOpenScope" column="F_OPEN_SCOPE"/>
			<result property="fLikeSet" column="F_LIKE_SET"/>
			<result property="fReplySet" column="F_REPLY_SET"/>
			<result property="fShareSet" column="F_SHARE_SET"/>
			<result property="fLikeCnt" column="F_LIKECNT"/>
			<result property="fReplyCnt" column="F_REPLYCNT"/>
		</resultMap> -->
	
	<resultMap id="replyResultSet" type="Reply">
		<id property="rNo" column="R_NO"/>
		<result property="mNo" column="M_NO"/>
		<result property="fNo" column="F_NO"/>
		<result property="rContent" column="R_CONTENT"/>
		<result property="rWriterImg" column="R_WRITER_IMG"/>
		<result property="rWriter" column="R_WRITER"/>
		<result property="rCreateDate" column="R_CREATE_DATE"/>
		<result property="rModifyDate" column="R_MODIFLY_DATE"/>
		<result property="rStatus" column="R_STATUS"/>
	</resultMap>
	
	<resultMap id="photoResultSet" type="Photo">
		<id property="fNo" column="F_NO"/>
		<result property="originName" column="ORIGINNAME"/>
		<result property="changeName" column="CHANGENAME"/>
	</resultMap>
	
	<resultMap type="GroupName" id="groupNameReulstSet">
		<result property="gNo" column="G_NO"/>
		<result property="gName" column="G_NAME"/>
		<result property="gmId" column="GM_ID"/>
	</resultMap>
	
	<insert id="insertPost" parameterType="Feed" useGeneratedKeys="true" keyProperty="fNo" keyColumn="F_NO">
		<selectKey keyProperty="fNo" keyColumn="F_NO" resultType="int" order="BEFORE">
			SELECT SEQ_FNO.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO FEED
		VALUES(
			#{fNo}, #{mNo}, #{fContent}, #{fWriter}, SYSDATE, SYSDATE, DEFAULT, #{fLocation},
			#{fOpenScope}, #{fLikeSet}, #{fReplySet}, #{fShareSet}, #{fLikeCnt}, #{fReplyCnt}, #{gNo})
	</insert>
	
	<insert id="insertPhoto" parameterType="Photo" keyProperty="fNo" keyColumn="F_NO">
		INSERT INTO PHOTO
		VALUES(
			#{fNo}, #{originName}, #{changeName})
	</insert>

	<select id="selectFeed" resultMap="postResultSet" parameterType="string">
		SELECT
			* 
		FROM FEED F
		LEFT JOIN REPLY R ON (F.F_NO = R.F_NO)
		LEFT JOIN PHOTO P ON (F.F_NO = P.F_NO)
		<!--LEFT JOIN GROUP_MEMBER GM ON(F.G_NO = GM.G_NO) -->
		WHERE
		F.F_STATUS ='Y' 
		AND
		(F.F_WRITER =#{userId}
		OR
		F.G_NO IN(SELECT
			        G_NO
			        FROM GROUP_MEMBER
			        WHERE GM_ID=#{userId})
		OR
		F.M_NO IN (SELECT
		                FOLLOWS
		                FROM FOLLOW
		                WHERE M_NO = (SELECT M_NO
		                            FROM MEMBER
		                            WHERE M_ID =#{userId})
		        ))
		ORDER BY F.F_NO DESC, R.R_CREATE_DATE DESC
	</select>
	
	<select id="selectGroupMemberId" resultMap="groupNameReulstSet" parameterType="string">
	    SELECT 
	           GM.G_NO
	         , G.G_NAME
	         , GM.GM_ID
          FROM 
        	   GROUPS G
          LEFT JOIN MEMBER M 
            ON (M.G_NO = G.G_NO)
          LEFT JOIN GROUP_MEMBER GM 
            ON (G.G_NO = GM.G_NO)
         WHERE GM.GM_ID = #{userId}
         AND GM.GM_STATUS = 'Y'
         ORDER BY G_JOINDATE DESC
	</select>
	
 	<select id="selectUpdateFeed" resultMap="postResultSet">
		SELECT *
		FROM FEED F
        LEFT JOIN PHOTO P ON (F.F_NO = P.F_NO)
		WHERE F.F_STATUS='Y'
		  AND F.F_NO = #{fNo}
	</select>
	
	<update id="updatePost" parameterType="Feed">
		UPDATE
		    FEED
		SET F_CONTENT = #{fContent}
		  , F_MODIFY_DATE = SYSDATE
		  , F_LOCATION = #{fLocation}
		  , F_OPEN_SCOPE = #{fOpenScope}
		  , F_LIKE_SET = #{fLikeSet}
		  , F_REPLY_SET = #{fReplySet}
		  , F_SHARE_SET = #{fShareSet}
		  , G_NO = #{gNo}
		WHERE F_NO = #{fNo}
	</update>
	
	<update id="updatePhoto" parameterType="Photo">
		UPDATE
		    PHOTO
		SET ORIGINNAME = #{originName}
		  , CHANGENAME = #{changeName}
		WHERE F_NO = #{fNo}
	</update>
	
	<update id="deletePost" parameterType="_int">
		UPDATE FEED
		SET F_STATUS='N'
		WHERE F_NO=#{fNo}
	</update>
	
 	<insert id="insertReply" parameterType="Reply" keyProperty="fNo" keyColumn="F_NO">
 		<selectKey keyProperty="fNo" keyColumn="F_NO" resultType="int" order="BEFORE">
			SELECT F_NO FROM FEED WHERE F_NO=#{fNo}
		</selectKey>
		INSERT INTO REPLY VALUES
		(SEQ_RNO.NEXTVAL, #{mNo}, #{fNo}, #{rWriterImg}, #{rWriter}, #{rContent}, SYSDATE, SYSDATE, DEFAULT)
	</insert>
	
	<update id="updateReply" parameterType="Reply">
		UPDATE REPLY
		SET R_WRITER_IMG = #{rWriterImg}
		  , R_CONTENT = #{rContent}
		  , R_MODIFLY_DATE = SYSDATE
		WHERE R_NO = #{rNo}
	</update>
	
	<select id="replySearchList" parameterType="Reply"  resultMap="replyResultSet">
		SELECT *
		FROM REPLY
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			<if test="rNo != 0">
				R_NO like '%'||#{rNo}||'%'
			</if>
			<if test="rWriter != null">
				AND R_WRITER like '%'||#{rWriter}||'%'
			</if>
			<if test="rContent != null">
				AND R_STATUS like '%'||#{rContent}||'%'
			</if>
			<if test="rCreateDate != null">
				AND R_CREATE_DATE like '%'||#{rCreateDate}||'%'
			</if>
		</trim>
	</select>
	
	<select id="feedSearchList" parameterType="Feed"  resultMap="postResultSet">
		SELECT *
		FROM FEED
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			<if test="fNo != 0">
				F_NO like '%'||#{fNo}||'%'
			</if>
			<if test="fContent != null">
				AND F_CONTENT like '%'||#{fContent}||'%'
			</if>
			<if test="fWriter != null">
				AND f_WRITER like '%'||#{fWriter}||'%'
			</if>
			<if test="fCreateDate != null">
				AND F_CREATE_DATE like '%'||#{fCreateDate}||'%'
			</if>
		</trim>
	</select>
	
	<select id="selectGfList" resultMap="postResultSet">
		SELECT *
		FROM FEED F
        LEFT JOIN REPLY R ON (F.F_NO = R.F_NO)
        LEFT JOIN PHOTO P ON (F.F_NO = P.F_NO)
        LEFT JOIN GROUPS G ON (F.G_NO = G.G_NO)
		WHERE F.F_STATUS='Y'
		AND F.G_NO IS NOT NULL
		ORDER BY F.F_NO DESC
	</select>
	
	<select id="selectGfeed" resultMap="postResultSet">
		SELECT *
		FROM FEED F
        LEFT JOIN REPLY R ON (F.F_NO = R.F_NO)
        LEFT JOIN PHOTO P ON (F.F_NO = P.F_NO)
        LEFT JOIN GROUPS G ON (F.G_NO = G.G_NO)
		WHERE F.F_STATUS='Y'
		AND F.G_NO IS NOT NULL
		AND F.G_NO = #{ gNo }
		ORDER BY F.F_CREATE_DATE DESC
	</select>
	
	<select id="selectHGfeed" resultMap="postResultSet">
		SELECT *
		FROM FEED F
        LEFT JOIN REPLY R ON (F.F_NO = R.F_NO)
        LEFT JOIN PHOTO P ON (F.F_NO = P.F_NO)
        LEFT JOIN GROUPS G ON (F.G_NO = G.G_NO)
		WHERE F.F_STATUS='Y'
		AND F.G_NO IS NOT NULL
		AND F.G_NO = #{ gNo }
		ORDER BY F.F_LIKECNT DESC
	</select>
	
	<select id="selectPoPFeed" parameterType="_int" resultMap="postResultSet">
		SELECT F.*, R.*, P.*, M.M_RENAME_IMAGE
		FROM FEED F
		LEFT JOIN REPLY R ON (F.F_NO = R.F_NO)
		LEFT JOIN PHOTO P ON (F.F_NO = P.F_NO)
		INNER JOIN MEMBER M ON(F.M_NO = M.M_NO)
		WHERE F.F_STATUS='Y'
		AND F.F_NO =#{ fno }
	</select>
</mapper>