<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gmMapper">
	<resultMap id="GroupMemberResultSet" type="GroupMember">
  		<id property="gNo" column="G_NO"/>
  		<result property="gmId" column="GM_ID"/>
  		<result property="gmStatus" column="GM_STATUS"/>
  		<result property="gmLevel" column="GM_LEVEL"/>
  		<result property="a1" column="A1"/>
  		<result property="a2" column="A2"/>
  		<result property="a3" column="A3"/>
  		<result property="gJoinDate" column="G_JOINDATE"/>	
  	</resultMap>
  	
  	<insert id="insertGroupMaster" parameterType="GroupMember">
		INSERT INTO GROUP_MEMBER
		VALUES(
			#{ gNo }, #{ gmId }, DEFAULT, '그룹장', NULL,NULL,NULL,SYSDATE
		)
	</insert>
	
	<insert id="insertGroupMember" parameterType="GroupMember">
		INSERT INTO GROUP_MEMBER
		VALUES(
			#{ gNo }, #{ gmId }, 'N', '멤버', #{ a1 }, #{ a2 }, #{ a3 }, SYSDATE 
			)
	</insert>
	
	<select id="gmSelectId" resultType="_int">
		SELECT COUNT(*)
		FROM GROUP_MEMBER
		WHERE G_NO=#{gNo}
		AND GM_ID=#{gmId}
		AND GM_STATUS = 'Y'
	</select>
	
	<select id="groupMemberCheck" resultType="_int">
		SELECT COUNT(*)
		FROM GROUP_MEMBER
		WHERE G_NO=#{gNo}
		AND GM_ID=#{gmId}
	</select>
	<delete id="gmDelete" parameterType="GroupMember">
		DELETE GROUP_MEMBER
		WHERE
			G_NO=#{ gNo }
		AND GM_ID=#{ gmId }
	</delete>
	
	<update id="groupMemberDeleteCheck" parameterType="GroupMember">
		UPDATE GROUP_MEMBER
		SET
			GM_STATUS='D'
		WHERE
			G_NO=#{ gNo }
		AND GM_ID=#{ gmId }
	</update>
	
	<select id="SelectGmList" resultMap="GroupMemberResultSet">
		SELECT * FROM GROUP_MEMBER
		WHERE G_NO=#{ gNo }
		AND GM_STATUS='Y'
	</select>
	
	<select id="selectNgmList" resultMap="GroupMemberResultSet">
		SELECT * FROM GROUP_MEMBER
		WHERE G_NO=#{ gNo }
		AND GM_STATUS='N'
	</select>
	
	<update id="groupMemberUpdate" parameterType="GroupMember">
		UPDATE GROUP_MEMBER
		SET
			GM_STATUS='Y'
		WHERE
			G_NO=#{gNo}
		AND GM_ID=#{gmId}
	</update>
	
	<update id="gmChangeMaster" parameterType="GroupMember">
		UPDATE GROUP_MEMBER
		SET
			GM_LEVEL='그룹장'
		WHERE
			G_NO=#{gNo}
		AND GM_ID=#{gmId}
	</update>
	
	<update id="gmChangeLevel" parameterType="GroupMember">
		UPDATE GROUP_MEMBER
		SET
			GM_LEVEL='멤버'
		WHERE
			G_NO=#{gNo}
		AND GM_LEVEL=#{gmLevel}
	</update>
	
	<update id="gmChangeManager" parameterType="GroupMember">
		UPDATE GROUP_MEMBER
		SET
			GM_LEVEL='매니저'
		WHERE
			G_NO=#{gNo}
		AND GM_ID=#{gmId}
	</update>
</mapper>