<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="groupMapper">
	<resultMap id="GroupResultSet" type="Group">
		<id property="gNo" column="G_NO"/>
		<result property="gCreator" column="G_CREATOR"/>
		<result property="gManager" column="G_MANAGER"/>
		<result property="gName" column="G_NAME"/>
		<result property="gCategory" column="G_CATEGORY"/>
		<result property="gMax" column="G_MAX"/>
		<result property="gDate" column="G_DATE"/>
		<result property="gOpenScope" column="G_OPENSCOPE"/>
		<result property="gJoinSet" column="G_JOINSET"/>
		<result property="gQset" column="G_QSET"/>
		<result property="q1" column="Q1"/>
		<result property="q2" column="Q2"/>
		<result property="q3" column="Q3"/>
		<result property="gIntro" column="G_INTRO"/>
		<result property="gTag" column="G_TAG"/>
		<result property="gStatus" column="G_STATUS"/>
		<result property="gNotice" column="G_NOTICE"/>
		<result property="gProfile" column="G_PROFILE"/>
		<result property="gImage" column="G_IMAGE"/>
		<result property="gRenameProfile" column="G_RENAME_PROFILE"/>
		<result property="gRenameImage" column="G_RENAME_IMAGE"/>
	</resultMap>
	<resultMap id="feedResultSet" type="Feed">
		<id property="fNo" column="F_NO"/>
		<result property="mNo" column="M_NO"/>
		<result property="fContent" column="F_CONTENT"/>
		<result property="fWriter" column="F_WRITER"/>
		<result property="fCreateDate" column="F_CREATE_DATE"/>
		<result property="fModifyDate" column="F_MODIFY_DATE"/>
		<result property="fStatus" column="F_STATUS"/>
		<result property="fLocation" column="F_LOCATION"/>
		<result property="fOpenScope" column="F_OPEN_SCOPE"/>
		<result property="fLikeSet" column="F_LIKE_SET"/>
		<result property="fReplySet" column="F_REPLY_SET"/>
		<result property="fShareSet" column="F_SHARE_SET"/>
		<result property="fLikeCnt" column="F_LIKECNT"/>
		<result property="fReplyCnt" column="F_REPLYCNT"/>
		<result property="gNo" column="G_NO"/>
		<result property="thumbnail" column="thumbnail"/>
	</resultMap>

	<select id="groupList" resultMap="GroupResultSet">
		SELECT *
		FROM GROUPS
		WHERE
		G_STATUS='Y'
		ORDER BY G_DATE DESC
	</select>

	<insert id="insertGroup" useGeneratedKeys="true"
		keyProperty="gNo" keyColumn="G_NO" parameterType="Group">
		<selectKey keyProperty="gNo" keyColumn="G_NO"
			resultType="int" order="BEFORE">
			SELECT SEQ_GNO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO GROUPS
		VALUES(#{ gNo }, #{ gCreator }, #{ gName }, #{ gCategory }, #{ gMax } , SYSDATE, #{ gOpenScope }, #{ gJoinSet }, #{ gQset }, #{ q1 }, #{ q2 }, #{ q3 }
			,#{ gIntro }, #{ gTag }, DEFAULT, #{ gNotice }, #{ gProfile },#{ gRenameProfile }, #{ gImage }, #{ gRenameImage },NULL)
	</insert>

	<select id="selectGroup" resultMap="GroupResultSet">
		SELECT *
		FROM GROUPS
		WHERE G_NO=#{ gNo }
		AND G_STATUS='Y'
	</select>

	<update id="groupUpdate" parameterType="Group">
		UPDATE GROUPS
		SET
			G_NAME=#{gName}
		,	G_CATEGORY=#{gCategory}
		,	G_MAX=#{gMax}
		,	G_OPENSCOPE=#{gOpenScope}
		,	G_JOINSET=#{gJoinSet}
		,	G_QSET=#{gQset}
		,	Q1=#{q1}
		,	Q2=#{q2}
		,	Q3=#{q3}
		,	G_INTRO=#{gIntro}
		,	G_TAG=#{gTag}
		,	G_STATUS=DEFAULT
		,	G_NOTICE=#{gNotice}
		,	G_PROFILE=#{gProfile}
		,	G_RENAME_PROFILE=#{gRenameProfile}
		,	G_IMAGE=#{gImage}
		,	G_RENAME_IMAGE=#{gRenameImage}
		WHERE
		G_NO=#{gNo}
	</update>

	<select id="totalGroups" resultType="_int">
		SELECT COUNT(*)
		FROM GROUPS
		WHERE G_STATUS ='Y'
	</select>

	<update id="deleteGroup" parameterType="Group">
		UPDATE GROUPS
		SET
		G_STATUS = 'N'
		WHERE
		G_NO=#{ gNo }
	</update>

	<update id="gCreatorChange" parameterType="Group">
		UPDATE GROUPS
		SET
		G_CREATOR=#{ gCreator }
		WHERE
			G_NO=#{ gNo }
	</update>
	
	<update id="gManagerChange" parameterType="Group">
		UPDATE GROUPS
		SET
			G_MANAGER=#{ gManager }
		WHERE
			G_NO=#{ gNo }
	</update>
	
	<update id="gManagerDelete" parameterType="Group">
		UPDATE GROUPS
		SET
			G_MANAGER=NULL
		WHERE
			G_NO=#{ gNo }
	</update>

	<select id="groupSearchList" parameterType="Group"
		resultMap="GroupResultSet">
		SELECT *
		FROM GROUPS
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			<if test="gName != null">
				G_NAME like '%'||#{gName}||'%'
			</if>
			<if test="gCategory != null">
				AND G_CATEGORY like '%'||#{gCategory}||'%'
			</if>
			<if test="gDate != null">
				AND G_DATE like '%'||#{gDate}||'%'
			</if>
			<if test="gTag != null">
				AND G_TAG like '%'||#{gTag}||'%'
			</if>
		</trim>
		<trim prefix="ORDER BY">
			<if test="gNo != null">
				G_NO DESC
			</if>
		</trim>
	</select>
	

	
	<select id="getManagerId" resultMap="GroupResultSet">
	SELECT * FROM GROUPS WHERE G_CREATOR=#{fromId}
	</select>
	<!-- 그룹 내  검색 -->
	<select id="groupSearch" parameterType="Search" resultMap="feedResultSet">
		SELECT 
			F.*
			, P.CHANGENAME AS thumbnail
		FROM FEED F
		LEFT JOIN (SELECT * FROM (SELECT F_NO
		                                , ROW_NUMBER() OVER (PARTITION BY F_NO ORDER BY F_NO
		                                , PHOTO.CHANGENAME DESC) AS NUM
		                                , CHANGENAME
		                                FROM PHOTO)
		                WHERE NUM =1)P ON (F.F_NO = P.F_NO)
		WHERE
			F.G_NO = #{sNum}
   			AND F.F_STATUS = 'Y'  
		<choose>
			<when test="searchType == '@'and search != null">
			AND (F.F_WRITER = #{search}
			OR F.F_CONTENT LIKE '%'|| #{ search } ||'%')
			</when>
			<when test="searchType == '#'and searchall != null">
			AND F.F_CONTENT LIKE '%'|| #{ searchall } ||'%'
			</when>		
			<otherwise>
			AND F.F_CONTENT LIKE '%'|| #{ searchall } ||'%'
			</otherwise>
		</choose>
		</select>
		<select id="selectGm" parameterType="string" resultType="string">
			SELECT G_CREATOR FROM GROUPS WHERE G_NO = #{crno}
		</select>
	
	
</mapper>
