<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
 		<id property="mNo" column="M_NO"/>
 		<result property="userId" column="M_ID"/>
 		<result property="userName" column="M_NAME"/>
 		<result property="userPwd" column="M_PWD"/>
 		<result property="email" column="M_EMAIL"/>
 		<result property="interestes" column="INTERESTES"/>
 		<result property="gNo" column="G_NO"/>
 		<result property="mStatus" column="M_STATUS"/>
 		<result property="mImage" column="M_IMAGE"/>
 		<result property="mRenameImage" column="M_RENAME_IMAGE"/>
 		<result property="cDate" column="CREATE_DATE"/>
 		<result property="mLevel" column="M_LEVEL"/>
 		<result property="mIntro" column="M_INTRO"/>
 	</resultMap>


	<!-- 로그인 -->
	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE M_ID = #{userId}
		AND M_STATUS = 'Y'
	</select>

	<!-- ID 중복확인 -->
	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT
		COUNT(*)
		FROM MEMBER
		WHERE M_ID = #{userId}
	</select>

	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(SEQ_MNO.NEXTVAL,#{userId},#{userName},#{userPwd},#{email},#{interestes},NULL,DEFAULT,NULL,NULL,SYSDATE,DEFAULT,NULL)
	</insert>

	<select id="findId" parameterType="Member" resultType="string">
		SELECT M_ID
		FROM MEMBER
		WHERE M_NAME = #{userName}
		AND M_EMAIL = #{email}
	</select>

	<update id="findPwd" parameterType="Member">
		UPDATE MEMBER
		SET M_PWD = #{userPwd}
		WHERE M_ID = #{userId}
		AND M_EMAIL = #{email}
	</update>
	
	<select id="totalMember" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE M_STATUS ='Y'
	</select>
	
	
	<select id="selectOne" parameterType="string" resultMap="memberResultSet">
		SELECT * 
		FROM MEMBER
		WHERE M_NO=#{mNo}
	</select>

	<select id="selectNo" parameterType="string" resultMap="memberResultSet">
		SELECT * 
		FROM MEMBER
		WHERE M_ID=#{mId}
	</select>

	<update id="disableAccount" parameterType="int">
	 	UPDATE MEMBER 
	 	SET M_STATUS = 'N'
	 	WHERE M_NO = #{mNo}
	</update> 

	<update id="deleteAccount" parameterType="int">
	 	UPDATE MEMBER 
	 	SET M_STATUS = 'D'
	 	WHERE M_NO = #{mNo}
	</update> 

	<update id="memberUpdate" parameterType="Member">
		UPDATE MEMBER
		SET M_NAME=#{userName},M_INTRO=#{mIntro},M_EMAIL=#{email},INTERESTES=#{interestes},M_IMAGE=#{mImage},M_RENAME_IMAGE=#{mRenameImage}
		WHERE M_NO=#{mNo}
	</update>
	
	<select id="selectOriginalPwdCheck" parameterType="Member" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE M_NO=#{mNo}
		AND M_PWD=#{userPwd}
	</select>
	
	<update id="updatePwd" parameterType="Member">
		UPDATE MEMBER
		SET M_PWD=#{userPwd}
		WHERE M_NO=#{mNo}
	</update>
	
	<select id="selectUserInfo" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE M_ID = #{userId}
	</select>
	
	<!-- 회원정보 불러오기 -->
	<select id="memberSearchList" parameterType="Member"
		resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
	<trim prefix="WHERE" prefixOverrides="AND |OR">
				<if test="userId != null">
					M_ID like '%'||#{userId}||'%'
				</if>
				<if test="userName != null">
					AND M_NAME like '%'||#{userName}||'%'
				</if>
				<if test="mStatus != null">
					AND M_STATUS like '%'||#{mStatus}||'%'
				</if>
				<if test="cDate != null">
					AND CREATE_DATE like '%'||#{cDate}||'%'
				</if>
		</trim>
		<trim prefix="ORDER BY">
			<if test="mNo != null">
				M_NO DESC
			</if>
		</trim>
	</select>
	
	<select id="getChatImage" parameterType="string" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE M_ID = #{userId}
	</select>
	
	<select id="blist"  parameterType="string" resultType="string">
	SELECT
    BLOCKED_NO
	FROM PERSON_SET
	WHERE M_NO = (SELECT
	                    M_NO
	                FROM MEMBER
	                WHERE M_ID=#{userId})
	</select>
</mapper>
