<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
 		<id property="mNo" column="M_NO"/>
 		<result property="userId" column="M_ID"/>
 		<result property="userName" column="M_NAME"/>
 		<result property="userPwd" column="M_PWD"/>
 		<result property="email" column="M_EMAIL"/>
 		<result property="interestes" column="INTERESTES"/>
 		<result property="gNo" column="G_NO"/>
 		<result property="mStatus" column="M_STATUS"/>
 		<result property="mImage" column="M_IMAGE"/>
 		<result property="cDate" column="CREATE_DATE"/>
 		<result property="mLevel" column="M_LEVEL"/>
 	</resultMap>

	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE M_ID = #{userId}
		AND M_PWD = #{userPwd}
		AND M_STATUS = 'Y'
	</select>
</mapper>
