<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypageMapper">

	<resultMap id="mypageResultSet" type="Mypage">
 		<id property="mNo" column="M_NO"/>
 		<result property="userId" column="M_ID"/>
 		<result property="mImage" column="M_RENAME_IMAGE"/>
 		<result property="mIntro" column="M_INTRO"/>
 		<result property="interestes" column="INTERESTES"/>
 		<result property="follows" column="follows"/>
 		<result property="followers" column="followers"/>
 		<result property="fNo" column="f_no"/>
 		<result property="fContent" column="f_Content"/>
 		<result property="fFile" column="f_File"/>
 		<result property="sbNo" column="sb_No"/>
 		<result property="sbName" column="sb_Name"/>
 		<result property="gNo" column="g_no"/>
 		<result property="gName" column="g_Name"/>
 		<result property="gImage" column="g_profile"/>
 		<result property="gRenameProfile" column="G_RENAME_PROFILE"/>
 		<result property="gJoinDate" column="g_JoinDate"/>
 		<result property="gCategory" column="g_Category"/>
 		<result property="mRenameProfile" column="M_RENAME_IMAGE"/>
 	</resultMap>
 	
 	<resultMap id="feedResultSet" type="Feed">
		<id property="fNo" column="F_NO"/>
		<result property="mNo" column="M_NO"/>
		<result property="fWriter" column="F_WRITER"/>
		<result property="fContent" column="F_CONTENT"/>
		<result property="shareYN" column="shareYN"/>
		<result property="fCreateDate" column="F_CREATE_DATE"/>
		<result property="fModifyDate" column="F_MODIFY_DATE"/>
		<result property="fStatus" column="F_STATUS"/>
		<result property="fLocation" column="F_LOCATION"/>
		<result property="fOpenScope" column="F_OPEN_SCOPE"/>
		<result property="fLikeSet" column="F_LIKE_SET"/>
		<result property="fReplySet" column="F_REPLY_SET"/>
		<result property="fShareSet" column="F_SHARE_SET"/>
		<result property="fLikeCnt" column="F_LIKECNT"/>
		<result property="fReplyCnt" column="F_REPLYCNT"/>
		<result property="gNo" column="G_NO"/>
		<result property="gName" column="G_NAME"/>
		<result property="mImage" column="M_RENAME_IMAGE"/>
		<result property="thumbnail" column="thumbnail"/>
		<result property="likeChk" column="LIKECHK"/>
		<result property="groupName" column="G_NAME"/>
		<collection property="replyList" javaType="java.util.ArrayList" resultMap="replyResultSet"/>
		<collection property="photoList" javaType="java.util.ArrayList" resultMap="photoResultSet"/>
		<collection property="tagList" javaType="java.util.ArrayList" resultMap="tagResultSet"/>
	</resultMap>
	
	<resultMap id="replyResultSet" type="Reply">
		<id property="rNo" column="R_NO"/>
		<result property="mNo" column="M_NO"/>
		<result property="fNo" column="F_NO"/>
		<result property="rContent" column="R_CONTENT"/>
		<result property="rWriterImg" column="M_RENAME_IMAGE"/>
		<result property="rWriter" column="R_WRITER"/>
		<result property="rCreateDate" column="R_CREATE_DATE"/>
		<result property="rModifyDate" column="R_MODIFLY_DATE"/>
		<result property="rStatus" column="R_STATUS"/>
	</resultMap>
	
	<resultMap type="LikeIt" id="likeItReulstSet">
		<result property="fNo" column="F_NO"/>
		<result property="mNo" column="L_USERID"/>
	</resultMap>
	
	<resultMap id="photoResultSet" type="Photo">
		<id property="fNo" column="F_NO"/>
		<result property="originName" column="ORIGINNAME"/>
		<result property="changeName" column="CHANGENAME"/>
	</resultMap>
	
	<resultMap id="tagResultSet" type="Tag">
		<id property="fNo" column="F_NO"/>
		<result property="fTag" column="F_TAG"/>
	</resultMap>
	
	<resultMap id="sbResultSet" type="sBox">
		<id property="sbNo" column="SB_NO"/>
		<result property="sbName" column="SB_NAME"/>
		<result property="mNo" column="M_NO"/>
		<result property="fNo" column="F_NO"/>
	</resultMap>
	
	<resultMap type="Tag" id="TagResultSet">
		<result column="F_NO" property="fNo"/>
		<result column="F_TAG" property="fTag"/>
	</resultMap>
	
	<resultMap id="shareResultSet" type="Share">
		<id property="sf_no" column="SF_NO"/>
		<result property="sm_no" column="SM_NO"/>
		<result property="s_status" column="S_STATUS"/>
	</resultMap>
	
	<select id="selectFollowInfo" parameterType="Mypage" resultMap="mypageResultSet">
		select (select count(DISTINCT follows) from FOLLOW  where m_no = #{mNo}) as follows
		,(select count(DISTINCT m_no) from FOLLOW where follows = #{mNo}) as followers  
		from dual
	</select>
	
	<select id="selectMemInfo" parameterType="Mypage" resultMap="mypageResultSet">
		select * from member where m_no=#{mNo} 
	</select>
	
	<select id="selectFeedInfo" parameterType="Mypage" resultMap="feedResultSet">
		SELECT F.*, P.CHANGENAME AS thumbnail
		FROM FEED F
		LEFT JOIN (SELECT * FROM (SELECT F_NO, ROW_NUMBER() OVER (PARTITION BY F_NO ORDER BY F_NO, PHOTO.CHANGENAME DESC) AS NUM, CHANGENAME
		                            FROM PHOTO)
		            WHERE NUM =1)P ON (F.F_NO = P.F_NO)
		WHERE F.M_NO= #{mNo}
		AND F.F_STATUS='Y'
        UNION
        SELECT F.*,P.CHANGENAME AS thumbnail 
        FROM FEED F 
        LEFT JOIN (SELECT * FROM (SELECT F_NO, ROW_NUMBER() OVER (PARTITION BY F_NO ORDER BY F_NO, PHOTO.CHANGENAME DESC) AS NUM, CHANGENAME
		                            FROM PHOTO)
                                    WHERE NUM =1)P ON (F.F_NO = P.F_NO)
        WHERE F.F_NO IN (SELECT SF_NO FROM SHARE_FEED WHERE SM_NO=#{mNo} and s_status='Y')
        AND  F.F_STATUS='Y'
        ORDER BY 5 DESC
	</select>
	
		<select id="selectUserFeedInfo" parameterType="Mypage" resultMap="feedResultSet">
		SELECT F.*, P.CHANGENAME AS thumbnail
		FROM FEED F
		LEFT JOIN (SELECT * FROM (SELECT F_NO, ROW_NUMBER() OVER (PARTITION BY F_NO ORDER BY F_NO, PHOTO.CHANGENAME DESC) AS NUM, CHANGENAME
		                            FROM PHOTO)
		            WHERE NUM =1)P ON (F.F_NO = P.F_NO)
		WHERE F.M_NO= #{mNo}
		AND F.F_STATUS='Y'
		AND F.G_NO = 0
        UNION
        SELECT F.*,P.CHANGENAME AS thumbnail 
        FROM FEED F 
        LEFT JOIN (SELECT * FROM (SELECT F_NO, ROW_NUMBER() OVER (PARTITION BY F_NO ORDER BY F_NO, PHOTO.CHANGENAME DESC) AS NUM, CHANGENAME
		                            FROM PHOTO)
                                    WHERE NUM =1)P ON (F.F_NO = P.F_NO)
        WHERE F.F_NO IN (SELECT SF_NO FROM SHARE_FEED WHERE SM_NO=#{mNo} and s_status='Y')
        AND  F.F_STATUS='Y'
        AND F.G_NO = 0
        ORDER BY 5 DESC
        
	</select>
	
	<select id="selectStorageBoxInfo" parameterType="Mypage" resultMap="sbResultSet">
		select * from storage_box where m_no=#{mNo} AND F_NO IS NULL
	</select>
	
	<insert id="insertBox" parameterType="Mypage">
		INSERT INTO STORAGE_BOX VALUES(default, null, #{mNo}, (select nvl((max(sb_no)+1),1) from storage_box where M_NO=#{mNo}))
	</insert>
	
	<select id="selectGroupInfo" parameterType="Mypage" resultMap="mypageResultSet">
		select * 
		from group_member gm
		left join member m
		on (gm.gm_id=m.m_id)
		left join groups g
		on (g.g_no=gm.g_no)
		where m_no=#{mNo}
		and G_STATUS='Y'
	</select>
	
	<select id="selectFollowYN" parameterType="Follow" resultType="string">
		select decode(count(FOLLOWS),0,'N','Y')
		from follow 
		where m_No=#{mNo}
		and FOLLOWS=#{follows}
	</select>
	
	<insert id="insertFollow" parameterType="Follow">
		INSERT INTO FOLLOW VALUES(#{mNo},#{follows})
	</insert>
	
	<delete id="deleteFollow" parameterType="Follow">
		DELETE FOLLOW WHERE M_NO=#{mNo} AND FOLLOWS=#{follows}
	</delete>
	
	<select id="selectFollowerList" parameterType="Mypage" resultMap="mypageResultSet">
		select DISTINCT m.m_id, m.m_rename_image
		from follow f
		left join member m on f.m_no=m.m_no
		where f.follows=#{mNo}
	</select>
	
	<select id="selectFollowingList" parameterType="Mypage" resultMap="mypageResultSet">
		select DISTINCT m.m_id, m.m_rename_image
		from follow f
		left join member m on f.follows=m.m_no
		where f.m_no=#{mNo}
	</select>
	
	<update id="updateBox" parameterType="list">
		<foreach collection="list" item="sb" index="index" open="DECLARE BEGIN" close="; END;" separator=";">
			UPDATE 
			       STORAGE_BOX 
			   SET SB_NAME=#{sb.sbName}
			 WHERE
			       M_NO = #{sb.mNo}
			   AND SB_NO = #{sb.sbNo}
		</foreach>
	</update>
	
	<delete id="deleteBox" parameterType="sBox">
		DELETE 
		FROM STORAGE_BOX
		WHERE M_NO=#{mNo} 
		AND SB_NO in
		<foreach collection="sbNos" item="sbNos" open="(" close=")" separator="," >
		#{sbNos} 
   		</foreach>
	</delete>
	
	<select id="sBoxfList" parameterType="sBox" resultMap="feedResultSet">
	SELECT
    F.*, P.CHANGENAME AS thumbnail
	FROM STORAGE_BOX B
	INNER JOIN FEED F ON(B.F_NO = F.F_NO)
    LEFT JOIN (SELECT * FROM (SELECT F_NO, ROW_NUMBER() OVER (PARTITION BY F_NO ORDER BY F_NO, PHOTO.CHANGENAME DESC) AS NUM, CHANGENAME
                                FROM PHOTO)
                WHERE NUM =1)P ON (B.F_NO = P.F_NO)
    WHERE B.M_NO = #{mNo} AND B.SB_NO = #{sbNo}
	AND F.F_STATUS ='Y'
	</select>

	<select id="detailFeed" parameterType="Feed" resultMap="feedResultSet">
		select f.*, m.*,G.G_NAME
		,(SELECT COUNT(*) AS LIKECHK FROM LIKEIT WHERE L_USERID=m.m_id and F.F_NO = F_NO GROUP BY F_NO) likeChk
        ,(select case when COUNT(*)>0 then 'Y' else 'N' end from SHARE_FEED sf where (sf.sf_no=f.f_no) and sf.sm_no = '143') as shareYN
        from feed f
		LEFT JOIN member m on(f.m_no=m.m_no)
        LEFT JOIN GROUPS G ON (G.G_NO = F.G_NO)
		where f.f_no=#{fNo}
		and f.m_no=#{smNo}
		and F.F_STATUS='Y'
	</select>

	<select id="selectPhotoList" parameterType="Photo" resultMap="photoResultSet">
		select * from photo
        where f_no = #{fNo}
	</select>

	<select id="selectReplyList" parameterType="Reply" resultMap="replyResultSet">
		select * from reply r
		join member m on(r.m_no=m.m_no)
        where r.f_no = #{fNo}
        and r.r_status='Y'
        order by r_Create_Date
	</select>
	
	<insert id="insertStorage" parameterType="sBox">
		INSERT INTO STORAGE_BOX (SB_NAME,F_NO,M_NO,SB_NO)
		SELECT #{sbName},#{fNos},#{mNo},#{sbNo}
		FROM DUAL
		WHERE NOT EXISTS (SELECT * FROM STORAGE_BOX WHERE SB_NAME=#{sbName} AND F_NO=#{fNos} AND M_NO=#{mNo} AND SB_NO=#{sbNo})
	</insert>
	
	<update id="shareFeedCancle" parameterType="_int">
		UPDATE share_Feed set s_status='N' WHERE sm_no=#{smNo} and sf_no=#{fNo}
	</update>
	
	<delete id="deleteSf" parameterType="sBox">
	DELETE FROM STORAGE_BOX WHERE F_NO = #{fNos} AND M_NO =#{mNo} AND SB_NO =#{sbNo}
	</delete>
</mapper>