<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="searchMapper">

	<resultMap id="memberResultSet" type="Member">
		<id property="mNo" column="M_NO"/>
		<result property="userId" column="M_ID"/>
		<result property="userName" column="M_NAME"/>
		<result property="userPwd" column="M_PWD"/>
		<result property="email" column="M_EMAIL"/>
		<result property="interestes" column="INTERESTES"/>
		<result property="gNo" column="G_NO"/>
		<result property="mStatus" column="M_STATUS"/>
		<result property="mImage" column="M_IMAGE"/>
 		<result property="mRenameImage" column="M_RENAME_IMAGE"/>
		<result property="cDate" column="CREATE_DATE"/>
		<result property="mLevel" column="M_LEVEL"/>
		<result property="mIntro" column="M_INTRO"/>
	</resultMap>
	
	<resultMap id="feedResultSet" type="Feed">
		<id property="fNo" column="F_NO"/>
		<result property="mNo" column="M_NO"/>
		<result property="fContent" column="F_CONTENT"/>
		<result property="fWriter" column="F_WRITER"/>
		<result property="fCreateDate" column="F_CREATE_DATE"/>
		<result property="fModifyDate" column="F_MODIFY_DATE"/>
		<result property="fStatus" column="F_STATUS"/>
		<result property="fLocation" column="F_LOCATION"/>
		<result property="fOpenScope" column="F_OPEN_SCOPE"/>
		<result property="fLikeSet" column="F_LIKE_SET"/>
		<result property="fReplySet" column="F_REPLY_SET"/>
		<result property="fShareSet" column="F_SHARE_SET"/>
		<result property="fLikeCnt" column="F_LIKECNT"/>
		<result property="fReplyCnt" column="F_REPLYCNT"/>
		<result property="gNo" column="G_NO"/>
		<result property="thumbnail" column="thumbnail"/>
	</resultMap>
	
	<resultMap id="relatedSearchSet" type="RelatedSearch">
		<result property="rsNo" column="RNUM"/>
		<result property="rsTag" column="TATG"/>
		<result property="rsCnt" column="SUMC"/>
	</resultMap>
	
	<resultMap id="GroupResultSet" type="Group">
		<id property="gNo" column="G_NO"/>
		<result property="gCreator" column="G_CREATOR"/>
		<result property="gName" column="G_NAME"/>
		<result property="gCategory" column="G_CATEGORY"/>
		<result property="gMax" column="G_MAX"/>
		<result property="gDate" column="G_DATE"/>
		<result property="gOpenScope" column="G_OPENSCOPE"/>
		<result property="gJoinSet" column="G_JOINSET"/>
		<result property="gQset" column="G_QSET"/>
		<result property="q1" column="Q1"/>
		<result property="q2" column="Q2"/>
		<result property="q3" column="Q3"/>
		<result property="gIntro" column="G_INTRO"/>
		<result property="gTag" column="G_TAG"/>
		<result property="gStatus" column="G_STATUS"/>
		<result property="gNotice" column="G_NOTICE"/>
		<result property="gProfile" column="G_PROFILE"/>
		<result property="gImage" column="G_IMAGE"/>
		<result property="gRenameProfile" column="G_RENAME_PROFILE"/>
		<result property="gRenameImage" column="G_RENAME_IMAGE"/>
	</resultMap>
	
	<!-- 멤버 검색 -->
	<select id="searchMember" parameterType="Search" resultMap="memberResultSet">
		SELECT * FROM MEMBER
		WHERE M_LEVEL='M'
		<if test="searchType=='@' and search!=null">
		AND M_ID LIKE '%' || #{search} || '%'
		</if>
		<if test="searchType=='#' and search!=null">
		AND M_INTRO LIKE '%' || #{search} || '%'
		</if>
		<if test="searchType=='N'and search!=null">
		AND (M_INTRO LIKE '%'|| #{search} ||'%'
		OR M_ID LIKE '%'|| #{search} ||'%'
		OR M_NAME LIKE '%'|| #{search} ||'%')
		</if>
	</select>
	
	<!-- 그룹 검색 -->
	<select id="searchGroup" parameterType="Search" resultMap="GroupResultSet">
		SELECT G.G_NO,G.G_NAME,G.G_RENAME_PROFILE,G.G_RENAME_IMAGE
		FROM GROUPS G
		JOIN (SELECT G_NO,COUNT(G_NO) GMCOUNT
		        FROM GROUP_MEMBER 
		        GROUP BY G_NO) GM ON(G.G_NO = GM.G_NO)
		WHERE G_STATUS='Y'
		<if test="searchType=='#' and search!=null">
		AND G_TAG LIKE '%'|| #{search} ||'%'
		</if>
		<if test="searchType=='N'and search!=null">
		AND G_NAME LIKE '%'|| #{search} ||'%'
		OR G_TAG LIKE '%'|| #{search} ||'%'
		OR G_INTRO LIKE '%'|| #{search} ||'%'
		</if>
		ORDER BY GMCOUNT DESC
	</select>

	<!-- 피드 검색 -->
	<select id="searchFeed" parameterType="Search" resultMap="feedResultSet">
		SELECT
		    F.*
		    , L.LIKECNT
		    , P.CHANGENAME AS thumbnail
		FROM FEED F
		LEFT JOIN (SELECT * FROM (SELECT F_NO, ROW_NUMBER() OVER (PARTITION BY F_NO ORDER BY F_NO, PHOTO.CHANGENAME DESC) AS NUM, CHANGENAME
		                        FROM PHOTO)
		            WHERE NUM =1)P ON (F.F_NO = P.F_NO)
		LEFT JOIN (SELECT F_NO,COUNT(F_NO) LIKECNT
		            FROM LIKEIT
		            GROUP BY F_NO) L ON(F.F_NO = L.F_NO)
		WHERE F.F_STATUS='Y'
		AND F_OPEN_SCOPE='Y'
		<if test="searchType=='#' and search!=null">
		AND F_CONTENT LIKE '%' || #{search} || '%'
		</if>
		<if test="searchType=='@' and search!=null">
		AND F_CONTENT LIKE '%' || #{search}  || '%'
		</if>
		<if test="searchType=='N'and search!=null">
		AND F_CONTENT LIKE '%'|| #{search} ||'%'
		</if>
		ORDER BY L.LIKECNT DESC NULLS LAST, F.F_CREATE_DATE DESC
	</select>

 	<!-- 연관 검색어 -->
	<select id="relatedSearch" parameterType="Search" resultType="String" >
	<![CDATA[
	SELECT RTAG.TATG FROM(
		SELECT ROWNUM, TC.*
		FROM (
		    SELECT TB.TATG, SUM(CNT) SUMC
		    FROM(
		        SELECT TA.F_TAG AS TATG, COUNT(TA.F_TAG) CNT
		        FROM TAG TA
		        WHERE TA.F_NO IN(SELECT F_NO 
		                        FROM TAG
		                        WHERE F_TAG= #{search} )
		        AND NOT TA.F_TAG = #{search} 
		        GROUP BY TA.F_NO, TA.F_TAG) TB
		    GROUP BY TB.TATG
		    ORDER BY SUMC DESC) TC
		WHERE ROWNUM < 10 ) RTAG
	]]>
	</select>
	
	<!-- 연관 검색어 눌렀을 때  검색되는 연관검색어   -->
	<select id="tagSearchRs" parameterType="String" resultType="String">
	SELECT RCRT.F_TAG
	FROM(SELECT ROWNUM, TC.F_TAG
	    FROM( SELECT TB.F_TAG, COUNT(TB.F_TAG) CNT
	            FROM TAG TB
	            WHERE TB.F_NO IN(SELECT F_NO 
	                            FROM FEED
	   							WHERE 
	   							F_STATUS ='Y'
	   							<if test="array != null">
				            	AND 
				            	</if>
	            				<foreach collection="array" item="arr" open="" close="" separator="AND">
	                            F_CONTENT LIKE '%'||#{arr}||'%'
	                            </foreach>
	                            )
				<if test="array != null">
            	AND 
            	</if>
				<foreach collection="array" item="arr" open="" close="" separator="AND">
	            NOT TB.F_TAG=#{arr}
                </foreach>
	            GROUP BY TB.F_NO, TB.F_TAG
	            ORDER BY CNT DESC) TC
	<![CDATA[
	WHERE ROWNUM < 10) RCRT
	]]>
	</select>
	
	
	<!-- 연관검색어 눌러서 피드 검색하는 쿼리 -->
	<select id="tagSearchFeed" parameterType="String" resultMap="feedResultSet">
		SELECT FD.*
		FROM FEED FD
		WHERE F_NO IN(SELECT F_NO 
		            	FROM FEED
		            	WHERE
		            	F_STATUS ='Y'
		            	<foreach collection="array" item="arr" open="" close="" separator="">
		            	<if test="array != null">
		            	AND 
		            	</if>
		            	F_CONTENT LIKE '%'|| #{arr} ||'%'
		            	</foreach>
						)
	</select>
	
	<!-- 연관검색어  눌렀을때 그룹 검색 -->
	<select id="tagSearchGroup" parameterType="String" resultMap="GroupResultSet">
		SELECT *
		FROM GROUPS
		WHERE G_STATUS='Y'
		<if test="array != null">
	    AND 
	    </if>
		<foreach collection="array" item="arr" open="" close="" separator="AND">
		G_TAG LIKE '%'||#{arr}||'%'
		</foreach>
	</select>
	
	<!-- 연관검색어 눌렀을 때 멤버 검색 -->
	<select id="tagSearchMember" parameterType="String" resultMap="memberResultSet">
		SELECT * FROM MEMBER
		WHERE
		M_LEVEL ='M'
		<if test="array != null">
	    AND 
	    </if>
		<foreach collection="array" item="arr" open="" close="" separator="AND">
		M_INTRO LIKE  '%'||#{ arr }||'%'
		</foreach>
	</select>
	
	<select id="searchInterest" parameterType="Search" resultType="String">
		SELECT INTERESTES FROM MEMBER WHERE M_NO=#{search}
	</select>
</mapper>
