<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="settingMapper">
 	<resultMap id="notificationResultSet" type="NotificationSetting">
 		<id property="mNo" column="M_NO"/>
 		<result property="aAll" column="A_ALL"/>
 		<result property="aLike" column="A_LIKE"/>
 		<result property="aReply" column="A_REPLY"/>
 		<result property="aFriends" column="A_FRIENDS"/>
 		<result property="aMessage" column="A_MESSAGE"/>
 	</resultMap>
 	
 	<resultMap id="personalResultSet" type="PersonalSetting">
 		<id property="mNo" column="M_NO"/>
 		<result property="openStatus" column="OPEN_STATUS"/>
 		<result property="pwdSaved" column="PWD_SAVED"/>
 		<result property="blockedNo" column="BLOCKED_NO"/>
 	</resultMap>
 	
 	<select id="nSetting" parameterType="NotificationSetting" resultMap="notificationResultSet">
 		SELECT *
 		FROM NOTIFICATION_SETTING
 		WHERE M_NO=#{mNo}
 	</select>
 	
 	<select id="pSetting" parameterType="PersonalSetting" resultMap="personalResultSet">
 		SELECT *
 		FROM PERSONAL_SETTING
 		WHERE M_NO=#{mNo}
 	</select>
</mapper>
