<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.spring.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.spring.setting.model.vo.NotificationSetting" alias="NotificationSetting"/>
		<typeAlias type="com.kh.spring.setting.model.vo.PersonalSetting" alias="PersonalSetting"/>
		<typeAlias type="com.kh.spring.myPage.model.vo.Mypage" alias="Mypage"/>
		<typeAlias type="com.kh.spring.feed.model.vo.Feed" alias="Feed"/>
		<typeAlias type="com.kh.spring.search.model.vo.Search" alias="Search"/>
		<typeAlias type="com.kh.spring.search.model.vo.RelatedSearch" alias="RelatedSearch"/>
		<typeAlias type="com.kh.spring.group.model.vo.Group" alias="Group"/>
		<typeAlias type="com.kh.spring.group.model.vo.GroupMember" alias="GroupMember"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/setting-mapper.xml"/>
		<mapper resource="mappers/mypage-mapper.xml"/>
		<mapper resource="mappers/search-mapper.xml"/>
		<mapper resource="mappers/group-mapper.xml"/>
		<mapper resource="mappers/gm-mapper.xml"/>
	</mappers>
</configuration>
